html, body {
	background: silver;
}

.trii {
    border: 1px solid orange;
}

.trii > div {
	border: 1px solid black;
}

.trii .centerpiece {
    background: ivory;
}

.trii .demo-top {
    background: blue;
    color: ivory;
}

.trii .demo-bottom {
	background: aqua;
}

.trii .demo-left {
    width: 20%;
	background: yellow;
}

.trii .demo-right {
    background: orange;
}

.trii .beam--overlay-vertical {
}

.trii .beam--overlay-horizontal {
}