html, body {
	background: silver;
}

.trichotomy {
    border: 1px solid orange;
}

.trichotomy > div {
	border: 1px solid black;
}

.trichotomy .centerpiece {
    background: ivory;
}

.trichotomy .demo-top {
    background: blue;
    color: ivory;
}

.trichotomy .demo-bottom {
	background: aqua;
}

.trichotomy .demo-left {
    width: 20%;
	background: yellow;
}

.trichotomy .demo-right {
    background: orange;
}

.trichotomy .overlay-vertical {
}

.trichotomy .overlay-horizontal {
}