html, body {
	background: silver;
}

.trichotomy {
    border: 5px solid orange;
}

.trichotomy > div {
	border: 5px solid purple;
}

.trichotomy .centerpiece {
    background: ivory;
    border: 5px solid red;
}

.trichotomy .demo-top {
    background: blue;
    color: ivory;
}

.trichotomy .demo-bottom {
	background: cyan;
}

.trichotomy .demo-left {
    width: 0;
    background: yellow;
}

.trichotomy .demo-right {
    width: 20%;
    background: orange;
}

.trichotomy .overlay-vertical {
    -webkit-transition: width 100ms;
    transition: width 100ms;
}

.trichotomy .overlay-horizontal {
    opacity: .8;
}

button {
    float: right;
    font-size: 150%;
}

* {
    border-width: 1px !important;
}