.scroll-maker {
    width: 115vw;
    height: 115vh;
    background: lime;
    border: 5px dashed green;
}

.scroll-maker::before {
    content: "Just an oversized element, to elicit scrolling.";
}

.demo-top a,
.demo-top a:visited {
    color: white;
}
