html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.trichotomy {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    min-height: 0;
    position: relative;
}

.trichotomy>*{
    box-sizing: border-box;
}

.trichotomy.vertical {
    flex-direction: column;
}

.trichotomy.horizontal {
    position: relative;
    flex-direction: row;
}

.trichotomy .centerpiece {
    flex: 1 auto;
    overflow: auto;
    height: 100%;
}

.trichotomy .right {
    right: 0;
}

.trichotomy .bottom {
    bottom: 0;
}

.trichotomy .overlay-vertical {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
}

.trichotomy .overlay-horizontal {
    position: absolute;
    overflow: hidden;
    right: 0;
    left: 0;
}